#main-footer {
  height: 122px;
  width: 100%;
}

/* .containerFooter {
  height: 122px;
  width: 100%;
  position: relative;
} */

/* .containerFooter ::before {
  content: "";
  background: url("../img/lidye-1Shk_PkNkNw-unsplash.jpg") no-repeat center
    center/cover;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1;
} */
